.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
    /* pad */
    @media (max-width: 992px) {
        .container {
        max-width: 720px; /* (696 + 24 gutter) */
        }
    }
    /* mobile */
    @media (max-width: 767px) {
        .container {
        max-width: 372px; /* (348 + 24 gutter) */
        }
    }
}

.row {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    @media (max-width: 767px) {
        flex-wrap: wrap;
      }
}

.col-2 {
    width: 16.666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333%;
}

.col-5 {
    width: 41.666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333%;
}

.col-8 {
    width: 66.666%;
}

.col-md {
    @media (max-width: 767px) {
        width: 100%;
      }
}









/*
@mixin pad {
    @media (max-width: 992px) {
        @content
    }
}

 @include pad () { 
     height: auto;
}

@mixin mobile {
    @media (max-width: 767px) {
        @content
    }
}
*/