$primary: #AA0601;
$secondary: #650300;
$red-1: #9F1213;
$pink: #FBF2F2;
$white: #ffffff;
$black: #000000;


.container {
    max-width: 1296px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}