<header class="header container flex justify-between">
  <a href="../pages/index.html" class="logo"><h1>Glasses</h1></a>
  <ul class="nav flex justify-between">
    <li><a href="">系列鏡框</a></li>
    <li><a href="">門市據點</a></li>
    <li><a href="">部落格</a></li>
    <li><a href="">常見問題</a></li>
  </ul>
</header>
