<div class="bg-red">
  <header class="header container flex justify-between">
    <a href="../pages/index.html" class="logo"><h1>Glasses</h1></a>
    <ul class="nav flex items-center">
      <li><a href="./optical.html">系列鏡框</a></li>
      <li><a href="./store.html">門市據點</a></li>
      <li><a href="./blog.html">部落格</a></li>
      <li><a href="./faq.html">常見問題</a></li>
    </ul>
  </header>
</div>
