<ul class="pagination-select flex justify-center mb-20 mb-sm-16">
  <li class="last-page"><a href="#">上一頁</a></li>
  <li><a href="#">1</a></li>
  <li class="page-active"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li class="next-page"><a href="#">下一頁</a></li>
</ul>
