.footer {
    color: white;

    .footer-top {
        border-bottom: 1px solid white;
        
        @include mobile {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
          }
    }

    .footer-title {

        .footer-nav {
            li:hover {
                opacity: 0.7;
            }

            @include mobile {
                display: none;
            }
        }

        .social-media {
            li {
                display: inline;
                &:hover {
                    opacity: 0.7;
                }
    
                img {
                    width: 48px;
    
                    @include pad {
                        width: 40px;
                      }

                    @include mobile {
                        width: 24px;
                      }
                }
            }
        }
    }

    .footer-contact {
        li {
            font-size: 36px;
            &:hover {
                    opacity: 0.7;
            }

            @include mobile {
                font-size: 16px;
              }

            .material-icons-outlined {
                font-size: 36px;

                @include mobile {
                    font-size: 18px;
                  }
            }
        }  
    }

    .footer-bottom {
        padding: 32px 0;

        @include mobile {
            display: block;
            padding: 16px 0;
          }

          ul {
            font-size: 14px;

            @include mobile {
                display: block;
                font-size: 16px;
              }
          }

          li {
            &:hover {
                opacity: 0.7;
            }
          }
    }
}