.header {
  font-size: 20px;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (max-width: 767px) {
    flex-direction: column;
    padding: 16px 0 0 0;
    max-width: 100%;
    /* 移除左右 padding 再加入 max-width: 100%; 讓導覽列能變為滿版 */
  }
    .nav {

      @media (max-width: 767px) {
        flex-wrap: wrap;
        }

        li {
              padding: 8px 32px;
              &:last-child {
                padding-right: 0;
              }

              &:hover {
                opacity: 0.7;
              }

              @media (max-width: 767px) {
                width: 50%;
                padding: 0;
                border: 1px solid white;
              }

                  a {
                      display: block;
                      height: 100%;
                      
                      @media (max-width: 767px) {
                        padding: 12px 0;
                        font-size: 16px;
                        text-align: center;
                      }

                  }
            }
    }
}

.logo {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(../images/logo-white.png);
  background-size: cover;
  width: 80px;
  height: 48.57px;

    &:hover {
      cursor: pointer;
    }

    a {
        display: block;
        height: 100%;
    }

  @media (max-width: 767px) {
    margin: 0 0 16px 12px;
  }
}

/* headerClassic */

.glasses-type-bar {
  @media (max-width: 767px) {
    padding: 0;
  }
  li {
      width: 33.333%;
      border-left: 1px solid #DCDCDC;
      border-right: 1px solid #DCDCDC;
      
      a {
          display: block;
          padding: 24px 0;
          text-align: center;
          font-size: 32px;
          font-weight: 500;

          @media (max-width: 767px) {
            font-size: 16px;
          }
          
      }

  }
}

.select-active {
  border-bottom: 8px solid $primary;
      a {
          padding-bottom: 16px;
      }
}
