.faq-title {
    
    h2 {
        padding-left: 16px;
        color: black;
        border-left: 8px solid $red;
        @include mobile {
            font-size: 24px;
          }
    }

    h3 {
        color: black;
    }

}