.faq-title {
    margin-bottom: 24px;
    @media (max-width: 767px) {
        margin-bottom: 24px;
      }
    
    h2 {
        margin-bottom: 32px;
        padding-left: 16px;
        color: black;
        border-left: 8px solid $red;
        @media (max-width: 767px) {
            margin-bottom: 24px;
            font-size: 24px;
          }
    }

    h3 {
        color: black;
    }

}