.product-img {
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 296px;
    @include mobile {
        height: 136px;
      }
}

.product-optical-header-img-l {
    background-image: url(../images/product-header-1.png);
    
    @include mobile {
        background-image: url(../images/product-header-sm-1.png);
      }
}

.product-optical-header-img-r {
    background-image: url(../images/product-header-2.png);
    background-position: right center;
    
    @include mobile {
        background-image: url(../images/product-header-sm-2.png);
      }
}

.product-sunglasses-header-img-l {
    background-image: url(../images/product-header-3.png);

    @include mobile {
        background-image: url(../images/product-header-sm-3.png);
      }
}

.product-sunglasses-header-img-r {
    background-image: url(../images/product-header-4.png);
    
    @include mobile {
        background-image: url(../images/product-header-sm-4.png);
      }
}


.product-title {
    text-align: center;

    .product-model {
        font-size: 42px;
        font-weight: 500;
        color: black;
        @include mobile {
            font-size: 24px;
          }
    }

    .product-material {
        font-size: 32px;
        font-weight: 400;
        color: black;
        @include mobile {
            font-size: 24px;
          }
    }
}

.product-no {
    font-size: 24px;
}

.product-price {
    font-size: 24px;
    font-weight: 500;
    color: $primary;
}

.product-color-select {
    .product-color1 {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        border-radius: 4px;
        background-color: #5F3E2D;
    }

    .product-color2 {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #B75929;
    }
}