.special-nav {
    color: white;

    li {
        padding: 13px 24px;

        @include mobile {
            padding: 12px 13px;
          }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
        
        a{
            font-size: 20px;
            font-weight: 700;

            @include mobile {
                font-size: 16px;
              }
        }
    }

    .material-icons-outlined {
        font-size: 40px;

        @include mobile {
            display: none;
          }
    }

}

.breadcrumb-item + .breadcrumb-item {
        padding-left: 4px;
        &::before {
            padding-right: 4px;
            content: "/";
        }
}

.breadcrumb-active {
    color: $primary;
}

.special-header-tags {
    font-size: 24px;
    font-weight: 700;
    color: $primary;

    @include mobile {
        font-size: 16px;
      }

    span {
        &:first-child {
            margin-right: 15px;
        }
    }
}

.special-left {
    h2 {
        color: black;
        font-weight: 400;

        @include mobile {
            font-size: 24px;
          }
    }

    h3 {
        color: black;
        font-weight: 500;

        @include mobile {
            font-size: 16px;
          }
    }

    p {
        color: #555555;
    }
}

.special-share {
    padding-bottom: 16px;

    @include mobile {
        display: none;
      }

    span {
        color: #0A0A0A;
        font-weight: 700;
    }

    a {
        img {
            width: 24px;
        }
    }

}

.special-page {
    border-top: 1px solid #707070;
    @include mobile {
        display: none;
      }
}

.special-right {
    width: 23.333%;
    font-weight: 700;
    color: $primary;

    @include pad {
        width: 21.333%;
      }

    @include mobile {
        display: none;
      }

    .special-tags-title {
        font-size: 32px;
        @include pad {
            font-size: 16px;
          }
        
        .material-icons-outlined {
            font-size: 48px;

            @include pad {
                font-size: 24px;
              }
        }
    }

    .special-tags-content {
        flex-wrap: wrap;
        font-size: 24px;

        @include pad {
            font-size: 16px;
          }

        a {
            margin-right: 24px;
            @include pad {
                margin-right: 16px;
              }
        }
    }
}