.store-title {
    margin-bottom: 40px;
    @media (max-width: 767px) {
        margin-bottom: 24px;
      }
    
    h2 {
        margin-bottom: 32px;
        padding-left: 16px;
        color: black;
        border-left: 8px solid $red;
        @media (max-width: 767px) {
            margin-bottom: 24px;
            font-size: 24px;
          }
    }

    label {
        
        margin-right: 16px;
        font-size: 24px;
        @media (max-width: 767px) {
            margin-right: 8px;
            font-size: 16px;
          }
    }

        select {
            width: 304px;
            height: 38px;
            padding: 6px 12px;
            border: 1px solid #CED4DA;
            outline: none;
            color: #495057;
            @media (max-width: 767px) {
                width: 276px;
              }
        }

        option {
            font-size: 18px;
        }
}

.store-img {
    width: 526px;
    height: 224px;
    @media (max-width: 767px) {
        width: 348px;
      }
}

.store-name {
    padding: 8px 24px;
    border: 1px solid #00000020;
    font-weight: 400;
    color: #212529;
}

.store-content {
    padding: 16px 24px;
    border: 1px solid #00000020;
    font-size: 20px;
    color: #212529;
}

.store-btn {
    display: block;
    text-align: center;
    padding: 16px 0;
    font-size: 19px;
    background-color: black;
    border: 1px solid #00000020;
    color: white;
}

iframe {
    @media (max-width: 767px) {
        width: 348px;
        height: 208px;
      }
}