<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glasses - 部落格</title>
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="bg-secondary">
      <div class="blog-nav container flex justify-between">
        <ul class="flex">
          <li><a href="#">最新消息</a></li>
          <li><a href="./special.html">特別企劃</a></li>
          <li><a href="#">新品上市</a></li>
          <li><a href="#">鏡框小知識</a></li>
        </ul>
        <span class="material-icons-outlined flex items-center"
          ><a href="#"> search </a></span
        >
      </div>
    </div>

    <main class="container mt-24 mt-md-10">
      <h2 class="blog-title">部落格</h2>
      <ul class="mb-31 mb-md-16">
        <li class="row justify-between mb-15 mb-md-0">
          <img
            class="col-6 px-3 col-md mb-md-2"
            src="../assets/images/blog-1.png"
            alt="blog-1"
          />
          <div class="blog-content col-6 px-3 col-md mb-md-6">
            <h3 class="blog-article-title">情人特別企劃</h3>
            <div class="flex justify-between mb-4">
              <h4 class="blog-article-subtitle">2020 Valentine’s Special</h4>
              <span>2020/02/14</span>
            </div>
            <div class="blog-article-content">
              <p>
                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！<br />
                即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻，只要從未來過本店的新朋友，綁定官方LINE好友，都可享專屬優惠⋯⋯
              </p>
              <a href="#">MORE</a>
            </div>
          </div>
        </li>
        <li class="row justify-between mb-15 mb-md-0">
          <img
            class="col-6 px-3 col-md mb-md-2"
            src="../assets/images/blog-2.png"
            alt="blog-2"
          />
          <div class="blog-content col-6 px-3 col-md mb-md-6">
            <h3 class="blog-article-title">街頭潮人訪問</h3>
            <div class="flex justify-between mb-4">
              <h4 class="blog-article-subtitle">Street Interview</h4>
              <span>2020/02/02</span>
            </div>
            <div class="blog-article-content">
              <p>
                炎熱的夏季裡，衣著選擇經常希望以簡潔的風格為主，但有時單純只穿搭
                T
                恤或短袖開襟襯衫，又覺得整體造型度有點不足嗎？那麼不妨可以透過「配件」，為穿搭點綴出與眾不同的視覺層次，而本季有哪些必備的配件系列呢？一起從以下推薦的
                3 款單品，讓你瞬間帥氣爆棚散發型男品味⋯⋯
              </p>
              <a href="#">MORE</a>
            </div>
          </div>
        </li>
        <li class="row justify-between mb-15 mb-md-0">
          <img
            class="col-6 px-3 col-md mb-md-2"
            src="../assets/images/blog-3.png"
            alt="blog-3"
          />
          <div class="blog-content col-6 px-3 col-md mb-md-6">
            <h3 class="blog-article-title">春季新品上市</h3>
            <div class="flex justify-between mb-4">
              <h4 class="blog-article-subtitle">New Selection</h4>
              <span>2020/02/02</span>
            </div>
            <div class="blog-article-content">
              <p>
                2020
                年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯
              </p>
              <a href="#">MORE</a>
            </div>
          </div>
        </li>
        <li class="row justify-between mb-15 mb-md-0">
          <img
            class="col-6 px-3 col-md mb-md-2"
            src="../assets/images/blog-4.png"
            alt="blog-4"
          />
          <div class="blog-content col-6 px-3 col-md mb-md-6">
            <h3 class="blog-article-title">設計師獨享鏡框優惠</h3>
            <div class="flex justify-between mb-4">
              <h4 class="blog-article-subtitle">Sales for Designer</h4>
              <span>2020/01/18</span>
            </div>
            <div class="blog-article-content">
              <p>
                2020
                年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯
              </p>
              <a href="#">MORE</a>
            </div>
          </div>
        </li>
        <li class="row justify-between">
          <img
            class="col-6 px-3 col-md mb-md-2"
            src="../assets/images/blog-5.png"
            alt="blog-5"
          />
          <div class="blog-content col-6 px-3 col-md">
            <h3 class="blog-article-title">抵抗夏日大作戰</h3>
            <div class="flex justify-between mb-4">
              <h4 class="blog-article-subtitle">Summer Special</h4>
              <span>2019/08/07</span>
            </div>
            <div class="blog-article-content">
              <p>
                2020
                年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯
              </p>
              <a href="#">MORE</a>
            </div>
          </div>
        </li>
      </ul>

      <%- include('./layout/pagination'); -%>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
