<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glasses - 情人節特別企劃</title>
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="bg-secondary">
      <div class="special-nav container flex justify-between">
        <ul class="flex">
          <li><a href="#">最新消息</a></li>
          <li><a href="#">特別企劃</a></li>
          <li><a href="#">新品上市</a></li>
          <li><a href="#">鏡框小知識</a></li>
        </ul>
        <span class="material-icons-outlined flex items-center"
          ><a href="#"> search </a></span
        >
      </div>
    </div>

    <main class="container mt-6">
      <ol class="special-breadcrumb flex mb-2">
        <li class="breadcrumb-item"><a href="./index.html">首頁</a></li>
        <li class="breadcrumb-item"><a href="./blog.html">部落格</a></li>
        <li class="breadcrumb-item"><a href="#">特別企劃</a></li>
        <li class="breadcrumb-item breadcrumb-active">
          <a href="./special.html">情人特別企劃</a>
        </li>
      </ol>
      <div class="special-header-tags mb-2">
        <span>#special</span>
        <span>#event</span>
      </div>

      <div class="row">
        <article class="special-left col-8 px-3 col-md">
          <h2>情人特別企劃</h2>
          <h3 class="mb-4">2020 Valentine’s Special</h3>
          <ul class="mb-md-16">
            <li>
              <img
                class="mb-2"
                src="../assets/images/blogpage-1.png"
                alt="blogpage-1"
              />
              <p class="mb-10 mb-md-4">
                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br />
                本次拍攝的鏡框款式與 NEEDS CLASSIC
                聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
              </p>
            </li>
            <li>
              <img
                class="mb-2"
                src="../assets/images/blogpage-2.png"
                alt="blogpage-2"
              />
              <p class="mb-10 mb-md-4">
                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br />
                本次拍攝的鏡框款式與 NEEDS CLASSIC
                聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
              </p>
            </li>
            <li>
              <img
                class="mb-2"
                src="../assets/images/blogpage-3.png"
                alt="blogpage-3"
              />
              <p class="mb-10 mb-md-4">
                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br />
                本次拍攝的鏡框款式與 NEEDS CLASSIC
                聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
              </p>
            </li>
            <li>
              <img
                class="mb-2"
                src="../assets/images/blogpage-4.png"
                alt="blogpage-4"
              />
              <p class="mb-10">
                2/14(五)-2/20(日)<br />
                至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br />
                期間優惠還有~~持他牌鏡框更換鏡片<br />
                薄型非球面鏡片折300元<br />
                濾藍光鏡片折500元<br />
                快快帶上另一半<br />
                讓彼此每一次睜開眼，都被愛的視線包圍!
              </p>
            </li>
          </ul>
          <div class="special-share">
            <span>Share</span>
            <a href="#"
              ><img
                src="../assets/images/logo-facebook.png"
                alt="logo-facebook"
            /></a>
            <a href="#"
              ><img
                src="../assets/images/logo-instagram.png"
                alt="logo-instagram"
            /></a>
          </div>
          <div class="special-page flex justify-between mb-20">
            <a class="flex items-center" href="#"
              ><span class="material-icons-outlined mr-3"> arrow_back </span>
              <span>上一篇：街頭潮人訪問 1</span></a
            >
            <a class="flex items-center" href="#"
              ><span class="mr-3">下一篇：街頭潮人訪問 2</span>
              <span class="material-icons-outlined"> arrow_forward </span></a
            >
          </div>
        </article>
        <aside class="special-right px-3">
          <div class="special-tags-title flex items-center">
            <span class="material-icons-outlined"> label </span>
            <span>TAGS</span>
          </div>
          <div class="special-tags-content flex">
            <a href="#">#special</a>
            <a href="#">#sale</a>
            <a href="#">#new_item</a>
            <a href="#">#interview</a>
            <a href="#">#trivia</a>
            <a href="#">#news</a>
            <a href="#">#event</a>
          </div>
        </aside>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
