<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glasses - 太陽眼鏡</title>
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <ul class="glasses-type-bar container flex">
      <li>
        <a href="../pages/optical.html">OPTICAL</a>
      </li>
      <li class="select-active">
        <a href="../pages/sunglasses.html">SUNGLASSES</a>
      </li>
      <li><a href="#">FUNCTIONAL</a></li>
    </ul>
    <ul class="flex mb-20 mb-md-10">
      <li class="header-img sunglasses-header-img-l"></li>
      <li class="header-img sunglasses-header-img-r"></li>
    </ul>
    <main>
      <div class="product-title">
        <h2 class="product-model">2020 NEW COLLECTION</h2>
        <h3 class="product-material">賽璐珞鈦金屬混合鏡框</h3>
      </div>
      <div class="container">
        <ul class="row flex-wrap mb-md-10">
          <li class="col-4 px-3 mb-20 col-md mb-md-6">
            <a href="#">
              <img src="../assets/images/product-7.png" alt="product-7" />
              <div class="flex justify-between">
                <span class="product-no">BJ41600S</span
                ><span class="product-price">NTD3,490</span>
              </div>
              <div class="color-select flex">
                <div class="product-color1"></div>
                <div class="product-color2"></div>
              </div>
            </a>
          </li>
          <li class="col-4 px-3 mb-20 col-md mb-md-6">
            <a href="#">
              <img src="../assets/images/product-8.png" alt="product-8" />
              <div class="flex justify-between">
                <span class="product-no">BJ41600S</span
                ><span class="product-price">NTD3,490</span>
              </div>
              <div class="color-select flex">
                <div class="product-color1"></div>
                <div class="product-color2"></div>
              </div>
            </a>
          </li>
          <li class="col-4 px-3 mb-20 col-md mb-md-6">
            <a href="#">
              <img src="../assets/images/product-9.png" alt="product-9" />
              <div class="flex justify-between">
                <span class="product-no">BJ41600S</span
                ><span class="product-price">NTD3,490</span>
              </div>
              <div class="color-select flex">
                <div class="product-color1"></div>
                <div class="product-color2"></div>
              </div>
            </a>
          </li>
          <li class="col-4 px-3 mb-20 col-md mb-md-6">
            <a href="#">
              <img src="../assets/images/product-10.png" alt="product-10" />
              <div class="flex justify-between">
                <span class="product-no">BJ41600S</span
                ><span class="product-price">NTD3,490</span>
              </div>
              <div class="color-select flex">
                <div class="product-color1"></div>
                <div class="product-color2"></div>
              </div>
            </a>
          </li>
          <li class="col-4 px-3 mb-20 col-md mb-md-6">
            <a href="#">
              <img src="../assets/images/product-11.png" alt="product-11" />
              <div class="flex justify-between">
                <span class="product-no">BJ41600S</span
                ><span class="product-price">NTD3,490</span>
              </div>
              <div class="color-select flex">
                <div class="product-color1"></div>
                <div class="product-color2"></div>
              </div>
            </a>
          </li>
          <li class="col-4 px-3 mb-20 col-md mb-md-6">
            <a href="#">
              <img src="../assets/images/product-12.png" alt="product-12" />
              <div class="flex justify-between">
                <span class="product-no">BJ41600S</span
                ><span class="product-price">NTD3,490</span>
              </div>
              <div class="color-select flex">
                <div class="product-color1"></div>
                <div class="product-color2"></div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <%- include('./layout/pagination'); -%>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
